
figure img{
    width: 300px; /* Largura do card */
    height: 280px; /* Altura do card */
    background-color: #f0f0f0; /* Cor de fundo do card */
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Esconder elementos que transbordam */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-align: center;
  }